.list-group-item:not(.empty){
  display: flex;
  justify-content: flex-start;
  align-items: center;

  span{
    display: inline-block;
    margin: 0 10px;
  }

  &.completed{
    span{
      text-decoration: line-through;
    }
  }

  .btn-group{
    margin-left: auto;
    margin-right: 0;
  }
}