.album-name-wrap{
  display: flex;
  padding: 20px 20px 0 20px;
  margin-bottom: 20px;
  h5{
    margin-bottom: 0;
  }

  .back-link{
    text-decoration: none;
    margin-right: 20px;
  }
}

.photo-grid-list-wrap{
  margin-top: 2px;
}