.content-wrap{
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  //border: 1px solid #aeaeae;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .4);
  .container{
    padding: 0;
  }
}