@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Staatliches&display=swap');

html,body, #root, .App, .row{
  height: 100%;
}

*{
  box-sizing: border-box;
}

div{
  width: 100%;
}

body{
  background: rgb(8,31,68);
  background: radial-gradient(circle, rgba(8,31,68,1) 5%, rgba(1,4,21,1) 71%, rgba(0,0,0,1) 100%);
  color: #fff;
}

.App {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  display: block;
}

.App .row{
  display: flex;
  flex-wrap: wrap;
  width: unset;
  margin: auto -15px;
  align-items: center;
}

.App .greeting-text{
  width: 33.333333%;
  padding: 15px;
  position: relative;
}

.App .greeting-text .greeting-wrap{
  background: url(images/card-bg.jpg) no-repeat center center;
  background-size: cover;
  min-height: 300px;
  border-radius: 6px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 20px 14px rgba(0,0,0,.2);
}

.App .greeting-text .greeting-wrap:before{
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: 6px;
  border: 1px solid;
  border-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%) 1 1 1 1 repeat repeat;
  opacity: .2
}

.App .greeting-text .greeting-wrap:after{
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: 6px;
  border: 1px solid;
  border-image: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%) 1 1 1 1 repeat repeat;
  opacity: .2
}

.App .greeting-text .greeting-wrap .type-label{
  position: absolute;
  left: 10px;
  top: 10px;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  padding: 2px 5px;
  border-radius: 5px;
  line-height: 20px;
  backdrop-filter: blur(5px);
  font-size: 12px;
  font-family: 'JetBrains+Mono', sans-serif;
  font-weight: 300;
  letter-spacing: .2px;
}

.App .greeting-text .greeting-wrap .type-label.class{
  background: rgba(71, 102, 160, .5);
}

.App .greeting-text .greeting-wrap .type-label.func{
  background: rgba(71, 160, 107, 0.5);
}

.App .greeting-text .greeting-wrap .type-label.arrow-func{
  background: rgba(160, 71, 74, 0.5);
}

.App .greeting-text .greeting-wrap > div{
  text-align: center;
  font-size: 52px;
  font-family: 'Staatliches', sans-serif;
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  -moz-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon 1.5s ease-in-out infinite alternate;
}

@media screen and (max-width: 992px){
  .App .row .greeting-text{
    width: 100%;
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.2), 0 0 40px rgba(17, 104, 255, 0.2), 0 0 70px rgba(17, 104, 255, 0.2), 0 0 80px rgba(17, 104, 255, 0.2), 0 0 100px rgba(17, 104, 255, 0.2), 0 0 150px rgba(17, 104, 255, 0.2);
  }
  to {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4), 0 0 15px rgba(255, 255, 255, 0.4), 0 0 20px rgba(17, 104, 255, 0.4), 0 0 35px rgba(17, 104, 255, 0.4), 0 0 40px rgba(17, 104, 255, 0.4), 0 0 50px rgba(17, 104, 255, 0.4), 0 0 75px rgba(17, 104, 255, 0.4);
  }
}