@import "~bootstrap";

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

html, body, #root{
  height: 100%;
  width: 100%;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(images/bg.jpg) no-repeat center center rgba(255, 255, 255, .6);
  background-size: cover;
}